# Executable
LoopThroughLoss

# Build artifacts
build-web/
objs/
*.o
*.d

# Built libraries
raylib/src/libraylib.a
libft/lib/libft.a

# Editor and OS files
*.swp
*~
.vscode/
.idea/
.DS_Store

#butler
build-web.zip
butler.zip
7z.so
libc7zip.so